@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: "Titillium Web", sans-serif;
}

a {
  @apply hover:text-accent transition-colors ease-out duration-200;
}

h1 {
  @apply text-2xl md:text-6xl mb-2 md:mb-6 font-bold;
  font-family: "Merriweather", sans-serif;
}

*::selection {
  @apply bg-accent text-white;
}

button.cta,
a.cta {
  font-family: "Merriweather", sans-serif;
  text-decoration: none;
  @apply border-accent border text-accent font-bold p-1 px-3 focus:bg-accent hover:bg-accent hover:text-white focus:text-white flex items-center justify-center gap-2 transition-colors ease-out duration-300 md:text-xs;
}

.fade-in {
  animation: fadeIn 0.8s forwards;
}
.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes MoveLeftRight {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
}

@keyframes MoveNavBgUpDown {
  0%,
  100% {
    top: 80vh;
  }
  50% {
    top: 82vh;
  }
}

@keyframes MoveNavBgSide {
  0%,
  100% {
    background-position-x: 0vw;
  }
  50% {
    background-position-x: 2vw;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
