@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: "Titillium Web", sans-serif;
}

a {
  @apply hover:text-accent transition-colors ease-out duration-200;
}

h1 {
  @apply text-6xl mb-6 font-bold;
  font-family: "Merriweather", sans-serif;
}

*::selection {
  @apply bg-accent text-white;
}

button.cta {
  font-family: "Merriweather", sans-serif;
  @apply border-accent border text-accent font-bold p-2 focus:bg-accent hover:bg-accent hover:text-white focus:text-white flex items-center justify-center gap-2 transition-colors ease-out duration-300;
}

@keyframes MoveLeftRight {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
}
